/* DO NOT PULL, I KNOW ITS TERRIBLE RIGHT NOW BUT THATS FOR A GOOD REASON. WILL BE FIXED VERY SOON. */

body{
  background-color: black;
}

.cameraStream{
  background-color: grey;
  color: green;
  height: 90%;
  width: 90%;
  padd
}

.cameraStream img{
  height: 89%;
  width: 89%;
}
